.example-card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: auto;
    height: 400px;
  }
  
  .example-header-image {
    background-size: cover;
  }
.img-class{
    margin-left: 105%;
}
.subtitle{
  margin-left: 105%;
}
.btn-class{
  margin-left: 37%;
}
.form-style{
    padding-top: 15%;
}

.signup-link{
  cursor: pointer;
  margin-left: 42%;

}

.signup-link:hover{
  color: #e91e63;
  transition-duration: 1s;
}
  