
<div class="main-content">
    <div class="container-fluid">
      <div 
        fxLayout="row wrap" 
        fxLayout.lt-sm="column" 
        fxLayoutGap="32px" 
        fxLayoutAlign="flex-start">
        <ng-container *ngFor="let post of posts">
          <mat-card class="card" >
            <mat-card-header>
              <img mat-card-avatar [src]="userUrl+post.profile_pic" alt="Photo of user">
              <mat-card-subtitle class="user_name">{{post.user_name}}</mat-card-subtitle>
              <div style="padding-left:30%;">
                <button mat-icon-button style="color:rgb(5, 127, 220);" (click)="opendPostEdit(post.rowid, post.image, post.caption)" ><span class="material-icons">edit</span></button>
                <button mat-icon-button style="color:rgb(220, 19, 5);"><span class="material-icons">delete</span></button>
              </div>
            </mat-card-header>
            <img mat-card-image class="card-img" [src]="postUrl+post.image" alt="">
           
            <mat-card-content>
              <p>
                {{post.caption}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-icon-button *ngIf="post.i_liked == 0" (click)="likePost(post.rowid, post)"><span class="material-icons">favorite_border</span></button>
              <button mat-icon-button *ngIf="post.i_liked == 1" (click)="unlikePost(post.rowid, post)"><span class="material-icons" style="color:#e56969;">favorite</span></button>
              <div *ngIf="post.likes > 1 && post.i_liked == 1" >
                Like by you and {{post.likes-1}} {{post.likes-1 > 1?'Others':'Other'}}
              </div>
              <div *ngIf="post.likes == 1 && post.i_liked == 1" >
                Like by you
              </div>
              <div *ngIf="post.likes > 0 && post.i_liked == 0" >
                Like by {{post.likes}} {{post.likes > 1?'Others':'Other'}}
              </div>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </div>
    </div>
  </div>
  