.t-s-10{
    padding-top: 10%;
}

.great-container{
    width: 100%;
}


 
 @media (max-width: 2000px) { 
    .profile-img{
        padding-left: 35%;
    }
    .img-view {
        width: 250px; 
        height: 200px; 
        object-fit: cover;
    } 
    .img-input{
        padding-left: 45%;
    }
 }
 
 @media (max-width: 500px) { 
    .profile-img{
        padding-left: 10%;
    }
    .img-view {
        width: 250px; 
        height: 200px; 
        object-fit: cover;
    } 
    .img-input{
        padding-left: 35%;
    }
 }
 @media (max-width: 330px) { 
    .profile-img{
        padding-left: 15%;
    }
    .img-view {
        width: 250px; 
        height: 200px; 
        object-fit: cover;
    } 
    .img-input{
        padding-left: 25%;
    }
 }