 <div class="main-content">
    <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title">{{userButtonLanguage()}}</h4>
          </div>
        <div class="card-body">
            <form [formGroup]="userForm" (ngSubmit)="saveUser()"  method="post" enctype="multipart/form-data">
                <div class="column" >
                    <div class="">
                        <div class="">
                            <a href="javascript:void(0)" class="profile-img">
                                <img *ngIf="rowid != 0 &&  user.profile_pic !== null" class="img" class="img-view" style="border-radius: 50%; width: 190px;" [src]="this.profileUrl+this.user.profile_pic" />
                                <img *ngIf="rowid == 0 || user.profile_pic == null" class="img" class="img-view" style="border-radius: 50%; width: 190px;" src="./assets/img/faces/no-user.jpeg" />
                                
                                <mat-form-field >
                                    <input matInput class="img-input" type="file" name="profile_pic" (change)="uploadDocument($event)" accept=".png, .pdf, .jpg, .jpeg">
                                </mat-form-field>
                            </a>
                        </div>
                        <div class="row">
                            <div class="card-body">
                                <p class="">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Bio" type="text" formControlName="bio">
                                    </mat-form-field>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="User Name" type="text" formControlName="user_name">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email address" type="email" formControlName="email">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Password" type="password" formControlName="password">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                            <mat-select formControlName="role" placeholder="Role">
                                <mat-option value="Super">Super</mat-option>
                                <mat-option value="Admin">Admin</mat-option>
                                <mat-option value="User">User</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                        <input matInput placeholder="Fist Name" type="text" formControlName="fname">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                        <input matInput placeholder="Last Name" type="text" formControlName="lname">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                        <input matInput placeholder="Date of Birth" type="date" formControlName="dob">
                        </mat-form-field>
                    </div>
                </div>
                <button [disabled]="!this.userForm.valid" mat-raised-button type="submit" class="btn btn-danger pull-right">{{userButtonLanguage()}}</button>
                <div class="clearfix"></div>
            </form>
        </div>
      </div>
  </div>
  